{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <p style="margin: 50px 0; text-align: center; padding: 0 55px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vero sequi asperiores aperiam quaerat fugiat eius sunt quia,
        consequuntur nulla, veritatis eligendi quos, dolore possimus
        esse unde impedit quibusdam voluptate!Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vero sequi asperiores aperiam quaerat fugiat eius sunt quia,
        consequuntur nulla, veritatis eligendi quos, dolore possimus
        esse unde impedit quibusdam voluptate!Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vero sequi asperiores aperiam quaerat fugiat eius sunt quia,
        consequuntur nulla, veritatis eligendi quos, dolore possimus
        esse unde impedit quibusdam voluptate!</p>
    <div class="container-fluid d-flex flex-row flex-wrap justify-content-center align-items-center" style="margin: 50px 0;">
        <input type="text" placeholder="Rechercher un sauveteur, un sauvé ou un bateau" style="width: 50vw; height: 45px; border-radius: 25px; padding: 0 25px;">
        <ion-icon name="search" style="font-size: 35px;"></ion-icon>
    </div>
    <section class="container-fluid d-flex flex-row flex-wrap justify-content-around">
        <div style="background-color: gray; width: 30vw; height: 400px;"></div>
        <div style="background-color: gray; width: 30vw; height: 400px;"></div>
        <div style="background-color: gray; width: 30vw; height: 400px;"></div>
    </section>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
{% endblock %}
